
.container{
    font-size: 100%;
}

.navbar {
  border-radius: 10px;
  background: var(--neon-rose);
  margin: 10px;
}

.navbar-brand {
  margin-left: 10px;
  font-weight: bold;
  font-size: 30px;
  color: var(--font-color);
}

.buttons {
  justify-content: flex-end;
  margin-right: 10px;
}