.container{

    //background-color: rgb(88, 88, 172);
    //font-style: ;
    color: rgb(255, 129, 0);
    font-size: 100%;
    // jak sie to ustawia...
    //font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
    font-style:oblique;
    //font-size:larger;
}