.contact-container {
    margin-top: 90px;
    max-width: 600px;
    background-color: var(--primary-color);
    padding: 20px;
    display:flex;
    justify-content: center;
}

.form{
    padding: 20px;
}

.contact-button {
    width: 100%;
    background-color: var(--neon-rose);
    border-color: var(--neon-rose);
    margin-bottom: 10px;
    margin-top: 20px;
}

.contact-button:hover {
    background-color: var(--neon-rose);
    border-color: var(--neon-rose);
}

h1 {
    text-align: center;
    font-size: 50px;
    text-shadow: 2px 0 #ffffff;
}

.sm-text { 
    font-size: 17px;
}

.link {
    color: var(--neon-rose);
    text-shadow: 1px 0 var(--neon-rose);
}

.link:hover {
    color: var(--neon-rose-hover);
}

input:focus, textarea:focus, select:focus {
    border-color: var(--neon-rose);
    box-shadow: 0 0 0 0.3rem var(--neon-rose-shadow);
}


select{
    margin-bottom: 20px;

}

.form-check-input:checked {
    background-color: var(--neon-rose);
    border-color: var(--neon-rose);
}

.form-check{
    font-size: 20px;
}

.checkboxes{

    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20%;

}
