<div class="container register-container rounded">
    <div class="form" id="registration-form">
      <h1 id="registration-bar">Please sign up for your account</h1>
      <form (submit)="signUp()" [formGroup]="signUpForm">
            <div class="mb-3 content-center">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" formControlName="name" [(ngModel)]="signUpDetails.name"
                      [style.border-color]="!isValid('name') ? 'red' : ''">
            @if (!isValid('name')) {
              <p class="text-danger form-text small"
                *ngIf="signUpForm.get('name')?.hasError('required')">
                This field is required.
              </p>
            }
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Surname</label>
              <input type="text" class="form-control" id="surname" formControlName="surname" [(ngModel)]="signUpDetails.surname"
                      [style.border-color]="!isValid('surname') ? 'red' : ''">
            @if (!isValid('surname')) {
              <p class="text-danger form-text small"
                *ngIf="signUpForm.get('surname')?.hasError('required')">
                This field is required.
            </p>
            }
            </div>
            <div class="mb-3">
              <label for="userName" class="form-label" >User name</label>
              <input type="text" class="form-control" id="userName" formControlName="userName" [(ngModel)]="signUpDetails.userName"
                      [style.border-color]="!isValid('userName') ? 'red' : ''">
              @if (!isValid('userName')) {
                <p class="text-danger form-text small"
                  *ngIf="signUpForm.get('userName')?.hasError('required')">
                  This field is required.
                </p>
                <p class="text-danger form-text small"
                  *ngIf="signUpForm.get('userName')?.hasError('minlength')">
                  Minimum lenght of user name is 4 characters.
                </p>
                <p class="text-danger form-text small"
                  *ngIf="signUpForm.get('userName')?.hasError('maxlength')">
                  Maximum lenghth of user name is 20 characters.
                </p>
              }
            @if (userNameAlreadyExist) {
            <p class="text-danger form-text small">User with provided name already exists</p>
            }
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" formControlName="city" [(ngModel)]="signUpDetails.city"
                        [style.border-color]="!isValid('city') ? 'red' : ''">
                @if (!isValid('city')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('city')?.hasError('required')">
                    This field is required.
                </p>
                }
                </div>
              <div class="mb-3">
                <label for="street" class="form-label">Street</label>
                <input type="text" class="form-control" id="street" formControlName="street" [(ngModel)]="signUpDetails.street"
                        [style.border-color]="!isValid('street') ? 'red' : ''">
                @if (!isValid('street')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('street')?.hasError('required')">
                    This field is required.
                </p>
                }
                </div>
              <div class="mb-3">
                <label for="houseNumber" class="form-label">House number</label>
                <input type="number" class="form-control" id="houseNumber"  formControlName="houseNumber" [(ngModel)]="signUpDetails.houseNumber"
                        [style.border-color]="!isValid('houseNumber') ? 'red' : ''">
                @if (!isValid('houseNumber')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('houseNumber')?.hasError('required')">
                    This field is required and has to be integer value.
                </p>
                }
                </div>
              <div class="mb-3">
                <label for="zipCode" class="form-label">Zip code</label>
                <input type="text" class="form-control" id="zipCode" formControlName="zipCode" [(ngModel)]="signUpDetails.zipCode"
                        [style.border-color]="!isValid('zipCode') ? 'red' : ''">
                @if (!isValid('zipCode')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('zipCode')?.hasError('required')">
                    This field is required.
                </p>
                <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('zipCode')?.hasError('pattern')">
                    This is not correct zip code pattern.
                </p>
                }
                </div>
              <div class="mb-3">
                <label for="email" class="form-label">Email address</label>
                <input type="email" class="form-control" id="email" formControlName="email" [(ngModel)]="signUpDetails.email"
                        [style.border-color]="!isValid('email') ? 'red' : ''">
                @if (!isValid('email')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('email')?.hasError('required')">
                    This field is required.
                  </p>
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('email')?.hasError('email')">
                    Email must be valid.
                  </p>
                  }
                  @if (emailAlreadyExist) {
                    <p class="text-danger form-text small">User with provided email already exists</p>
                  }
              </div>
              <div class="mb-3">
                <label for="password" class="form-label" >Password</label>
                <input type="password" class="form-control" id="password" formControlName="password" [(ngModel)]="signUpDetails.password"
                        [style.border-color]="!isValid('password') ? 'red' : ''">
                @if (!isValid('password')) {
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('password')?.hasError('required')">
                    This field is required.
                  </p>
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('password')?.hasError('minlength')">
                    Minimum password lenght of 8 characters.
                  </p>
                  <p class="text-danger form-text small"
                    *ngIf="signUpForm.get('password')?.hasError('maxlength')">
                    Maximum password lenght of 32 characters.
                  </p>
                }
                </div>
              <div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description" formControlName="description" [(ngModel)]="signUpDetails.description" ></textarea>
                </div>
              <div class="mb-3-select">
                <label for="gender" class="form-label">Choose your gender</label>
                <select type="text" class="form-control" id="gender" formControlName="gender" [(ngModel)]="signUpDetails.gender" >
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              
              <p id="checkbox-bar">Choose your favourite genres</p>
              <div class="checkboxes">
              <div class="form-check" *ngFor="let choice of genresList; let i=index">
              <input class="form-check-input" type="checkbox" [value]="choice.value" (change)="onCheckChange($event)">
                <label>
                  {{choice.description}}
                </label>
              </div>
              </div>
              </div>


                <!-- <div class="checkboxes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Akcja
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Dramat
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Horror
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Komedia
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Kryminał
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Romans
                    </label>
                    </div></div> -->
             </div>
            <button type="submit" class="btn btn-primary register-button">Sign up</button>
          </form>
          <div class="sm-text">
            <p>Do you already have an account?
              <a class="link pink hover" [routerLink]="['/login']">Sign in</a>
            </p>
          </div>
    </div>
</div>
