<div class="container">
    <div class="form" id="registration-form">
      <h1 id="registration-bar">Welcome to PRIME reviewer! Please register:</h1>

      <div class="d-flex justify-content-center">
        <div class="w-50">
          <form>
            <div class="mb-3 content-center">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" id="name" required>
            </div>
            <div class="mb-3">
              <label for="surname" class="form-label">Surname</label>
              <input type="number" class="form-control" id="surname" required>
            </div>
            <div class="mb-3">
                <label for="city" class="form-label">City</label>
                <input type="text" class="form-control" id="city" required>
              </div>
              <div class="mb-3">
                <label for="street" class="form-label">Street</label>
                <input type="text" class="form-control" id="street" required>
              </div>
              <div class="mb-3">
                <label for="house-number" class="form-label">House nr</label>
                <input type="TEXT" class="form-control" id="house-number">
              </div>
              <div class="mb-3">
                <label for="zipcode" class="form-label">Zip code</label>
                <input type="text" class="form-control" id="zipcode" required>
              </div>
            <div>
              <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" id="description"></textarea>
              </div>
              <div class="mb-3-select">
                <label for="industry" class="form-label">Choose your sex</label>
                <select type="number" class="form-control" id="industry">
                  <option value="1">Male</option>
                  <option value="2">Female</option>
                </select>
              </div>
                <div class="checkboxes">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Akcja
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Dramat
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Horror
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Komedia
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">
                        Kryminał
                    </label>
                    </div>
                    <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckChecked">
                        Romans
                    </label>
                    </div></div>
             </div>
            <button type="sign-up" class="btn btn-primary" >Sign up</button>
          </form>
        </div>
      </div>
    </div>
  </div>
