.login-container {
    margin-top: 90px;
    max-width: 500px;
    background-color: var(--primary-color);
    padding: 20px;
}

.login-button {
    width: 100%;
    background-color: var(--neon-rose);
    border-color: var(--neon-rose);
}

.login-button:hover {
    background-color: var(--neon-rose-hover);
    border-color: var(--neon-rose-hover);
}

h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.sm-text { 
    font-size: 17px;
}

.link {
    color: var(--neon-rose);
    text-shadow: 1px 0 var(--neon-rose);
}

.link:hover {
    color: var(--neon-rose-hover);
}

input:focus {
    border-color: var(--neon-rose);
    box-shadow: 0 0 0 0.3rem var(--neon-rose-shadow);
}

.form-check-input:checked {
    background-color: var(--neon-rose);
    border-color: var(--neon-rose);
}

.small {
    font-size: 15px;
}

#emailHelp {
    font-size: 10px;
}