
img {
    object-fit: cover;
    border-radius: 10px;
}

swiper-slide, img {
    width: 260px;
    height: 400px;
    margin-right: 4px;
}

#people {

    width: 150px;
    height: 230px;
    margin-right: 4px;

}

.container {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background-color: rgb(88, 88, 172);
    color: white;
}

.swiper-container {
    max-width: fit-content;
}

.spacer {
    background-color: rgb(27, 27, 81);
    height: 30px;
    margin-right: 4px;
}
