
img {
    object-fit: cover;
    border-radius: 10px;
}

swiper-slide, img {
    width: 300px;
    height: 400px;
    margin-right: 4px;
    margin-bottom: 10px;
}

#people {

    width: 150px;
    height: 200px;
    margin-right: 4px;

}

.container {
    border-radius: 10px;
    background-color: rgb(88, 88, 172);
    //font-style: ;
    color: white;
    //font-size: 90px;
    font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif
}

.swiper-container {
    max-width: fit-content;
}

.spacer {
    background-color: rgb(27, 27, 81);
    height: 30px;
    margin-right: 4px;
}
