
<app-search-bar-component></app-search-bar-component>

@if (popular) {
    <div class="container">
        <h1 >Trending Movies</h1>
        <swiper-container navigation="true" loop="true" slides-per-view="auto">
            @for (movie of popular; track movie.id) {
                <swiper-slide>
                    <img ngSrc="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                        alt="Poster for movie: {{ movie.title }}"
                        fill="fill"
                        routerLink="/movie/{{ movie.id }}">
                </swiper-slide>
            }
        </swiper-container>
    </div>
}

@if (people) {
    <div class="container">
        <h1>Popular people in the movie industry</h1>
        <swiper-container navigation="true" loop="true" slides-per-view="auto">
            @for (person of people; track person.id) {
                @if (person.profile_path) {
                    <swiper-slide id="people">
                        <img ngSrc="https://image.tmdb.org/t/p/w500/{{ person.profile_path }}"
                            alt="Picture of person: {{ person.name }}"
                            fill="fill"
                            routerLink="/person/{{ person.id }}">
                    </swiper-slide>
                }
            }
        </swiper-container>
    </div>
}

@if (upcoming) {
    <div class="container">
        <h1>Upcoming movies</h1>
        <swiper-container navigation="true" loop="true" slides-per-view="auto">
            @for (movie of upcoming; track movie.id) {
                <swiper-slide>
                    <img ngSrc="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                        alt="Poster for upcoming movie: {{ movie.title }}"
                        fill="fill"
                        routerLink="/movie/{{ movie.id }}">
                </swiper-slide>
            }
        </swiper-container>
    </div>
}

@if (topRatedSeries) {
    <div class="container">
        <h1>Top rated TV Series</h1>
        <swiper-container navigation="true" loop="true" slides-per-view="auto">
            @for (series of topRatedSeries; track series.id) {
                <swiper-slide>
                    <img ngSrc="https://image.tmdb.org/t/p/w500/{{ series.poster_path }}"
                        alt="Poster for series: {{ series.title }}"
                        fill="fill"
                        routerLink="/tv/{{ series.id }}">
                </swiper-slide>
            }
        </swiper-container>
    </div>
}
