.poster-container {
    width: 300px;
    float: left;
}

#year {
    display: inline;
    font-size: 40px;
    font-style: italic;
    vertical-align: top;
}

.overview {
    margin-left: 10px;
    overflow: hidden;
    margin-right: 10px;
}

.description {
    text-align: justify;
}

.details {
    height: auto;
    overflow: hidden;
    margin-top: 90px;
    background-color: rgb(88, 88, 172);
    padding: 10px;
}

.rating {
    justify-content: end;
}

.svg-star {
    width: 20px;
    height: 20px;
}

h1, h2 {
    margin-left: 50px;
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 30px;
}
  