.person-poster {
    width: 300px;
    float: left;
}
  
.person-overview {
  margin-left: 10px;
  overflow: hidden;
}

.person {
  height: 600px;
  overflow: hidden;
}

h1, h2 {
  margin-left: 50px;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 30px;
}
  