<div class="row">
  <div class="col-4">

    <div class="container">

      <p id="title">Filtrowanie</p>

    <form class="mb-3" (submit)="filter()" [formGroup]="filterForm">

        <!-- Input: Wyszukaj konkretny film lub aktora -->
        <div class="mb-3">
          <label for="searchInput"  class="form-label">Wyszukaj film lub aktora:</label>
          <input type="text" id="searchInput" name="searchInput" class="form-control" formControlName="searchInput" [(ngModel)]="filterData.searchInput">
        </div>

        <!-- Checkbox: Zaznacz gatunki filmów do filtrowania -->
        <div class="mb-3">
          <label class="form-label">Gatunki filmów do filtrowania:</label>
          
          <div class="col-auto" id="grid">
            
            <label for="actionGenre">
            <input class="form-check-input me-1" type="checkbox" id="actionGenre" name="genre" value="Action" formControlName="genreAction" [(ngModel)]="filterData.genreAction"> Akcja
            </label>

            <label for="dramaGenre">
            <input class="form-check-input me-1" type="checkbox" id="dramaGenre" name="genre" value="Drama" formControlName="genreDrama" [(ngModel)]="filterData.genreDrama"> Dramat
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="comedyGenre" name="genre" value="Comedy" formControlName="genreComedy" [(ngModel)]="filterData.genreComedy"> Komedia
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="horrorGenre" name="genre" value="Horror" formControlName="genreHorror" [(ngModel)]="filterData.genreHorror"> Horror
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="documentGenre" name="genre" value="Document" formControlName="genreDocument" [(ngModel)]="filterData.genreDocument"> Dokument
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="thrillerGenre" name="genre" value="Thriller" formControlName="genreThriller" [(ngModel)]="filterData.genreThriller"> Thriller
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="crimeGenre" name="genre" value="Crime" formControlName="genreCrime" [(ngModel)]="filterData.genreCrime"> Kryminał
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="fantasyGenre" name="genre" value="Fantasy" formControlName="genreFantasy" [(ngModel)]="filterData.genreFantasy"> Fantasy
            </label>
            
            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="romansGenre" name="genre" value="Romance" formControlName="genreRomance" [(ngModel)]="filterData.genreRomance"> Romans
            </label>

            <label for="comedyGenre">
            <input class="form-check-input me-1" type="checkbox" id="sci-fiGenre" name="genre" value="Sci-Fi" formControlName="genreSciFi" [(ngModel)]="filterData.genreSciFi"> Sci-Fi
            </label>

          </div>
        </div>

        <!-- date: Wyszukaj film po dacie -->
        <div class="mb-3">
          <div class="col-auto">
            <label for="inputPassword6" class="col-form-label">Data premiery:</label>
            <input type="month" id="dataPremiery" name="dataPremiery" formControlName="relaseData" [(ngModel)]="filterData.relaseDate">
          </div>
        </div>

        <!-- Radio: Popularność / Data premiery -->
        <div class="mb-3">
          <div div class="col-auto">
            <label class="form-label">Sortuj według:</label>
          </div>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="btnradio1">Popularność</label>
            
            <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
            <label class="btn btn-outline-primary" for="btnradio2">Data premiery</label>
          </div>
        </div>

        <!-- Select: Sortuj od: Rosnąco / Malejąco -->
        <div class="mb-3">  
          <div class="col-auto">
            <label class="form-label">Sortuj od:</label>
          </div>
          <div class="col-auto">
            <select id="sortOrder" name="sortOrder" class="form-control">
              <option value="ascending">Rosnąco</option>
              <option value="descending">Malejąco</option>
            </select>
          </div>
        </div>

        <!-- checkbox: filmy dla dorosłych -->
        <div class="mb-3">
          <div class="col-auto">
            <div class="form-check form-switch">
              <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
              <label class="form-check-label" for="flexSwitchCheckChecked">Filmy dla dorosłych</label>
            </div>
          </div>
        </div>

        <!-- Przycisk do wysyłania formularza -->
        <button type="submit" class="form-label" id="switch">Szukaj</button>
      </form>
    </div>
  </div>
  <div class="col-8">
    jebać kurwe disa szmate
  </div>
</div>
