@import "../node_modules/bootstrap/scss/bootstrap.scss";

body {
    background-color: var(--background-color);
    color: var(--font-color);
}


:root {
    --font-color: white;
    --background-color: rgb(27, 27, 81);
    --primary-color: rgb(88, 88, 172);
    --marian-blue: rgb(48, 65, 115);
    --neon-rose: rgb(199, 21, 191);
    --neon-rose-hover: rgb(168, 25, 161);
    --neon-rose-shadow: rgba(199, 21, 191, 0.25);

    // --font-color: black;
    // --background-color: rgb(27, 27, 81);
    // --primary-color: rgb(223, 223, 223);
    // --marian-blue: rgb(48, 65, 115);
    // --neon-rose: rgb(199, 21, 191);
    // --neon-rose-hover: rgb(168, 25, 161);
    // --neon-rose-shadow: rgba(199, 21, 191, 0.25);
}