
<div class="container">
    <h1>Trending</h1>
    <swiper-container navigation="true" loop="true" slides-per-view="auto">
        <ng-container *ngFor="let movie of popular">
            <swiper-slide >
                <img ngSrc="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}"
                     alt="Poster for movie: {{ movie.title }}"
                     fill="fill"
                     [routerLink]="['/movies', movie.id]">
            </swiper-slide>
        </ng-container>
    </swiper-container>
</div>

